@model IEnumerable<IdentityUser>

<a class="btn btn-primary" asp-controller="Users" asp-action="Create" >Create User</a>

<hr>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {

                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@user.Id" >Edit</a>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('@user.UserName adlı kullanıcıyı silmek istediğinize misiniz?')" style="display: inline-block;" >
                            <input type="hidden" name="Id" value="@user.Id" >
                            <button type="submit" class="btn btn-danger" >Delete</button>
                        </form>
                    </td>
                </tr>

            }

        </tbody>
    </table> 
</div>
